#jinja2: lstrip_blocks: "True"
[Unit]
Description={{ matrix_identity_server_ansible_name }}
{% for service in matrix_identity_server_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_identity_server_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time 30 {{ matrix_identity_server_container_name }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ matrix_identity_server_container_name }} 2>/dev/null || true'

ExecStart={{ devture_systemd_docker_base_host_command_docker }} run \
    --rm \
    --name={{ matrix_identity_server_container_name }} \
    --log-driver=none \
    --user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
    --cap-drop=ALL \
    --read-only \
    --tmpfs=/tmp:rw,noexec,nosuid,size=100M \
    --network={{ matrix_identity_server_container_network }} \
    {% if matrix_identity_server_container_labels_traefik_enabled %}
    --label-file={{ matrix_identity_server_config_path }}/labels \
    {% endif %}
    --env-file={{ matrix_identity_server_env_file }} \
    {{ matrix_identity_server_container_extra_arguments|join(' ') }} \
    {{ matrix_identity_server_container_image }}

{% for network in matrix_identity_server_container_additional_networks %}
ExecStartPost={{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ matrix_identity_server_container_name }} 2>/dev/null || true'
{% endfor %}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time 30 {{ matrix_identity_server_container_name }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ matrix_identity_server_container_name }} 2>/dev/null || true'
ExecStopPost=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ matrix_identity_server_container_name }} 2>/dev/null || true'
SyslogIdentifier={{ matrix_identity_server_systemd_service_basename }}
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
