{% if matrix_identity_server_container_labels_traefik_enabled %}
traefik.enable=true
traefik.http.routers.matrix-identity-server.rule=Host(`{{ matrix_identity_server_hostname }}`)
traefik.http.routers.matrix-identity-server.service=matrix-identity-server
{% if matrix_identity_server_container_labels_traefik_entrypoints %}
traefik.http.routers.matrix-identity-server.entrypoints={{ matrix_identity_server_container_labels_traefik_entrypoints }}
{% endif %}
{% if matrix_identity_server_container_labels_traefik_tls_certResolver %}
traefik.http.routers.matrix-identity-server.tls=true
traefik.http.routers.matrix-identity-server.tls.certResolver={{ matrix_identity_server_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.services.matrix-identity-server.loadbalancer.server.port={{ matrix_identity_server_container_http_port }}
{% endif %}
